# Ignore everything
*

# Except these files
!.gitignore
!CLAUDE.md
!README.md
!main.py
!ihsdm_compiler_core.py
!version.py
!IHSDadaM.spec
!requirements.txt

# Source package
!src/
!src/ihsdadam/
!src/ihsdadam/**
!src/ihsdadam/**/*
__pycache__/
*.pyc

# Assets
!ihsdadam.ico
!HNTB_Logo.svg
